/* .rectangle{
    top: calc(50% + 35px);
    left: 50%;
    @include aspect-ratio(755px, 540px);
    position: absolute;
    width: 655px;
    transform: translate(-50%, -50%);
    z-index: 3;
    &:before{
        border: 3px solid $color-white;
    }
} */
body{
    height: 100vh;
    overflow: hidden;
}

.brand{
    display: none;
}

.cover{
    position: absolute;
    @include position();
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 5;
    // opacity: 0;
    // @include transition();
    div{
        overflow: hidden;
    }
    h1,
    p{
        z-index: 2;
    }
    h1{
        @include font($font-worksans, 36px, 20px, $weight: 300);
        text-align: center;
        text-transform: uppercase;
    }
    p{
        @include font($font-abrilfatface, 144px, 60px);
        text-align: center;
        text-transform: uppercase;
        z-index: 0;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__img__bg{
        z-index: -1;
    }
    &__img_fg{
        z-index: 3;
    }
}

.main-homepage{
    .gallery-list{
        height: 100vh;
    }
    .slick-arrow{
        display: none!important;
    }
    .gallery-item{
        position: relative;
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        &__name{
            @include font($font-abrilfatface, 144px, 60px);
            text-align: center;
            text-transform: uppercase;
            margin: 40px auto 0;
        }
        &__desc{
            max-width: 60%;
            @include font($font-poppins, 18px, 16px);
            text-align: center;
            z-index: 2;
            margin: 0 auto;
        }
        &__cover{
            position: absolute;
            @include position();
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__cover__bg{
            z-index: -1;
        }
    }
}